*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    background-color: #f1f3f6;
}
.order-head{
    width: 100%;
    height: 55px;
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 0px 0px 3px 1px black;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.layouts{
    width: 100%;
    height: max-content ;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 15px;
}
.layouts .left-portion{
    margin-top: 20px;
    width: 55%;
    height: max-content;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px -1px black;
}
.layouts .right-portion{
    margin-top: 20px;
    width: 30%;
    height: max-content;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px -1px black;
    position: sticky;
    top: 75px;
    padding-bottom: 30px;
}
.layouts .left-portion .order-list{
    background-color: #2874f0;
    color: white;
    padding: 15px 30px;
}
.layouts .left-portion .cart-items{
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c7c5c5;
}
.layouts .left-portion .cart-items .img-space{
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layouts .left-portion .cart-items .img-space .img{
    width: 80%;
    height: 60%;
}
.layouts .left-portion .cart-items .img-space .img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.layouts .left-portion .cart-items .product-info p{
    font-size: 1.2rem;
    font-weight: 550;
}
.layouts .left-portion .cart-items .product-info span{
    display: inline-block;
    color: #878787;
    margin-top: 10px;
}
.layouts .left-portion .cart-items .product-info .price-list .org-price{
    text-decoration: line-through;
}
.layouts .left-portion .cart-items .product-info .price-list .off-price{
    color: black;
    font-size: 1.5rem;
    margin-left: 5px;
}
.layouts .left-portion .cart-items .product-info .price-list .off-perc{
    color: #388e3c;
    font-weight: 550;
    margin-left: 5px;
}
.layouts .left-portion .cart-items .product-info .price-list .qnty{
    display: inline-block;
    padding-left: 80px;
    color: black;
}
.layouts .left-portion .cart-items .product-info .protec{
    color: black;
}
.layouts .left-portion .cart-items .product-info form button{
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(196, 7, 7);
    color: white;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        background-color: rgb(158, 18, 18);
    }
}
.layouts .left-portion .delivery-addr{
    background-color: #2874f0;
    color: white;
    padding: 15px 30px;
}
.layouts .left-portion .new-addr{
    width: 100%;
    height: max-content;
    background-color: #ffffff;
    /* display: none; */
}
.layouts .left-portion .new-addr h3{
    color: #2874f0;
    margin: 20px 0px 0px 30px;
}
.layouts .left-portion .new-addr .form{
    width: 80%;
    height: max-content;
    margin-top: 20px;
}
.layouts .left-portion .new-addr .form input{
    border: 1px solid #878787;
    border-radius: 3px;
    font-size: 1rem;
    padding: 10px 7px;
    width: 100%;
    &:focus{
        border: 1px solid #2874f0;
        outline: none;
    }
}
.layouts .left-portion .new-addr .form .error{
    color: red;
}
.layouts .left-portion .new-addr .form .name{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.layouts .left-portion .new-addr .form .integers{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.layouts .left-portion .new-addr .form .address{
    height: max-content;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.layouts .left-portion .new-addr .form .address textarea{
    width: 100%;
    border: 1px solid #878787;
    border-radius: 3px;
    font-size: 1rem;
    padding: 10px 7px;
    &:focus{
        border: 1px solid #2874f0;
        outline: none;
    }
}
.layouts .left-portion .new-addr .form .dist-state{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.layouts .left-portion .new-addr .form .dist-state .state select{
    border: 1px solid #878787;
    border-radius: 3px;
    font-size: 1rem;
    padding: 9.3px 7px;
    width: 100%;
    &:focus{
        border: 1px solid #2874f0;
        outline: none;
    }
}
.layouts .left-portion .new-addr .form .optionals{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.layouts .left-portion .new-addr .form .submit-btn{
    text-align: center;
    padding: 20px 0px;
}
.layouts .left-portion .new-addr .form .submit-btn button{
    color: white;
    background-color: #2874f0;
    font-size: 1rem;
    padding: 17px 60px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #115acf;
    }
}
.layouts .left-portion .show-addr{
    border-bottom: 1px solid #c7c5c5;
}
.layouts .left-portion .show-addr .adr-content{
    display: grid;
    grid-template-columns: 0.05fr 1fr;
    gap: 20px;
    cursor: pointer;
    padding: 10px 0px;
}
.layouts .left-portion .show-addr .adr-content .radio-btn input{
    position: relative;
    top: 10%;
    left: 50%;
}
.layouts .left-portion .show-addr .adr-content .address-info{
    line-height: 25px;
}
.layouts .left-portion .add-addr{
    color: #2874f0;
    cursor: pointer;
    height: max-content;
    width: 100%;
}
.layouts .left-portion .add-addr .div{
    border-bottom: 1px solid #c7c5c5;
    width: 100%;
    padding: 10px 0px;
}
.layouts .left-portion .add-addr .div h4{
    width: 90%;
    position: relative;
    top: 30%;
    left: 5%;
}
.layouts .left-portion .add-addr .submit-btn{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.layouts .left-portion .add-addr .new-addr .form .submit-btn .cancel-btn{
    background-color: rgb(196, 7, 7);
    &:hover{
        background-color: rgb(158, 18, 18);
    }
}
.layouts .left-portion .checkout{
    height: 80px;
    position: relative;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: sticky;
    bottom: 0px;
    background-color: inherit;
}
.layouts .left-portion .checkout a{
    text-decoration: none;
    color: white;
    background-color: #fb641b;
    padding: 17px 60px;
    position: absolute;
    bottom: 50%;
    right: 5%;
    transform: translateY(50%);
    border-radius: 4px;
    font-weight: 550;
    font-size: 1.1rem;
}
.layouts .right-portion h2{
    padding: 10px 20px;
    color: #878787;
}
.layouts .right-portion hr{
  border: none;
  background-color: #878787;
  height: 0.2px;
  width: 95%;
  margin: auto;
}
.layouts .right-portion .details,
.layouts .right-portion .discount,
.layouts .right-portion .prot-fee,
.layouts .right-portion .amt{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    margin-top: 20px;
    font-size: 1.2rem;
}
.layouts .right-portion .prot-fee,
.layouts .right-portion .amt{
    margin-bottom: 15px;
}
.layouts .right-portion .discount .disc{
    color:#388e3c;
    font-weight: 550;
}
.layouts .right-portion .amt{
    margin: 30px 0px;
    font-weight: 900;
    font-size: 1.4rem;
}
.layouts .right-portion .hr{
    width: 90%;
    margin: auto;
}
.layouts .right-portion .savings{
    text-align: center;
    color:#388e3c;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
}
.checkout-layout{
    width: 55%;
    height: 50px;
    background-color: #fff;
}