{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'view_cart.css' %}">
    <title>Go To Cart</title>
</head>
<body>
    <div class="cart">
        <p>You product has been added to cart successfully!</p>
        <a href="{% url 'view-cart' %}">Go to Cart <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</body>
</html>