{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>E-SHOP</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="">
        </div>
        <div class="search-bar">
            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search for products, brands and more">
            </div>
        </div>
        <div class="nav-items">
            <div class="login">
                <i class="fa-regular fa-circle-user"></i>
                <span>Login</span>
            </div>
            <div class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Cart</span>
            </div>
            <div class="seller">
                <i class="fa-solid fa-store"></i>
                <span>Become a Seller</span>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="filter">FILTER</div>

        <div class="items-layout">
            {% for product in products %}
            <div class="product">
                <div class="img">
                    <img src="{{product.image.url}}" alt="">
                </div>
                <div class="details">
                    <span>{{product.name}}</span>
                    <div class="price-details">
                        <span class="offer-price">₹{{product.offerPrice}}</span>
                        <span class="original-price">₹{{product.originalPrice}}</span>
                        <span class="offer-percent">{{product.offer}}% off</span>
                    </div>
                    <a href="{% url 'product-details' product.id %}"><button>view more</button></a>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</body>
</html>