{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>E-SHOP</title>
</head>

<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="">
        </div>
        <div class="search-bar">
            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search for products, brands and more">
            </div>
        </div>
        <div class="nav-items">
            <div class="login">
                <i class="fa-regular fa-circle-user"></i>
                {% if not user.is_authenticated %}
                <span>Login</span>
                {% else %}
                <span>{{user.username}}</span>
                {% endif %}
            </div>
            <div class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="{% url 'view-cart' %}">Cart</a>
            </div>
            <div class="seller">
                <i class="fa-solid fa-store"></i>
                <span>Become a Seller</span>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="filter">
            <h1>FILTERS</h1>
            <h3>COMPANIES</h3>
            <div class="company-list">
                <form action="" method="get">
                    {% for product in products %}
                    <div class="chk-box">
                        <label><input type="checkbox" name="company" value="{{product.company}}" 
                            {% if product.company in companies %}checked{% endif %}>
                            {{product.company|upper}}</label>
                    </div>
                    {% endfor %}
                    <div class="btn">
                        <button type="submit" id="apply-btn">Apply filters</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="items-layout">
            {% if not companies %}
            {% for product in products %}
            <div class="product">
                <div class="img">
                    <img src="{{product.image.url}}" alt="">
                </div>
                <div class="details">
                    <span>{{product.name}}</span>
                    <div class="price-details">
                        <span class="offer-price">₹{{product.offerPrice}}</span>
                        <span class="original-price">₹{{product.originalPrice}}</span>
                        <span class="offer-percent">{{product.offer}}% off</span>
                    </div>
                    <a href="{% url 'product-details' product.id %}"><button>view more</button></a>
                </div>
            </div>
            {% endfor%}
            {% else %}
                {% for company in companies %}
                    {% for product in products %}
                        {% if company == product.company %}
                        <div class="product">
                            <div class="img">
                                <img src="{{product.image.url}}" alt="">
                            </div>
                            <div class="details">
                                <span>{{product.name}}</span>
                                <div class="price-details">
                                    <span class="offer-price">₹{{product.offerPrice}}</span>
                                    <span class="original-price">₹{{product.originalPrice}}</span>
                                    <span class="offer-percent">{{product.offer}}% off</span>
                                </div>
                                <a href="{% url 'product-details' product.id %}"><button>view more</button></a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <script>
        const checkboxes = document.querySelectorAll('input[type="checkbox"][name="company"]');
        const applyButton = document.getElementById('apply-btn');

        window.addEventListener('DOMContentLoaded', () => {
            const anyChecked = Array.from(checkboxes).some(cb => cb.checked);
            applyButton.style.display = anyChecked ? 'inline-block' : 'none';
        });
        
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                const anyChecked = Array.from(checkboxes).some(cb => cb.checked);
                applyButton.style.display = anyChecked ? 'inline-block' : 'none';
            });
        });
    </script>

</body>

</html>